streamlit
youtube-transcript-api==1.2.0
langchain
langchain-core
langchain-community
langchain-huggingface
huggingface-hub
sentence-transformers
faiss-cpu
python-dotenv
langchain-google-genai
# youtube-transcript-api==0.4.5
